body {
  background-color: #000;
  height: 200rem;
}
.backGroundEffect {
  backdrop-filter: blur(100px);
  z-index: -1;
  width: 334px;
  height: 309px;
  flex-shrink: 0;
  border-radius: 334px;
  background: #bd922b;
  position: absolute;
  box-shadow: 0px 0px 23.647px 0px #bd922b, 0px 0px 47.294px 0px #bd922b,
    0px 0px 165.53px 0px #bd922b, 0px 0px 331.061px 0px #bd922b,
    0px 0px 567.533px 0px #bd922b, 0px 0px 993.182px 0px #bd922b;
}
.one {
  right: 1140px;
  top: 105px;
}
.navbar {
  background-color: rgb(65, 158, 167);
}

.Button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: large;
  width: 221px;
  height: 38px;
  flex-shrink: 0;
  color: #d5d7d8;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 30px */
  letter-spacing: 3.84px;
}
.projects {
  position: absolute;
  right: 220px;
}
.Contacts {
  position: absolute;
  right: 45px;
}

.welcome {
  /* background-color: rgb(48, 135, 143); */
  height: 60rem;
}
.welcometext {
  position: absolute;
  top: 350px;
  right: 695px;
  margin: 0;
  width: 978px;
  height: 194px;
  flex-shrink: 0;
  color: #d5d7d8;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 45px */
  letter-spacing: 5.76px;
}
